.btn-secondary{
  color: #fff!important;
 background-color: #fff!important;
 border: none!important;
}

.text {
  word-wrap: break-word;
  word-break: break-all;

}


.dropdown-menu[style] {
   right: 0%!important;
}

.cursor{
  cursor: pointer;
}


.yaziyor-animasyon {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  right: 38px;
   font-size: 100px;
}

.nokta {
  display: inline-block;
  font-size: 100%;
  animation: yaziyorAnimasyon 1s infinite;
}

@keyframes yaziyorAnimasyon {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.bg--primary {
  background-color: #16a085;
}



.animation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  bottom: 12%;
  left: 4%;
  width: 100%;
  transform: translate(-4%, 80%);
}




.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: black;
  border-radius: 50%;
  animation: moveUpDown 1.5s infinite ease-in-out;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
